.modo-claro {
    background-color: #fff;
    color: #000;
}

.modo-escuro {
    background-color: #252323;
    color: #fff;
}

.btn-icone{
    width: 30px;
    height: 30px;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.logo {
    width: auto;
    height: 100px;
}

.topo button{
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border-color: #b2987d;
    cursor: pointer;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: 40vh;
    background-image: url('./../../img/banner-barbearia.jpg');
    background-position: center;
    background-size: cover;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 200px;
    text-align: center;
}

.texto h1 {
    font-size: 35px;
}

.texto strong {
    font-size: 18px;
}

.texto p {
    font-size: 15px;
}

.texto-kelly{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #b2987d;
    margin-top: 50px;
}

/*responsivo*/

@media screen and (max-width:375px) {
    .texto {
        padding: 50px 20px;
    }
}

/*-----------------*/

@media screen and (max-width: 768px) {
    .texto {
        padding: 50px 30px;
    }
}

/*-----------------*/

@media screen and (max-width: 1024px) {
    .texto {
        padding: 50px 30px;
    }
}

